/* Roboto Mono Google Font API */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}
:root{
  --primary-dark : #212529;
  --secondary-dark : #343a40;
  --ternary-dark: #495057;
  --color-white: #e9ecef;
  --color-red : #ef233c;
  --color-yellow: #f77f00;
  --color-lemon: #95d5b2;
  --color-green: #16db65;
}
.container{
  background-color: var(--primary-dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calc-body{
  width: 25%;
  height: 75%;
  background-color: var(--ternary-dark);
  padding: 1rem;
  border-radius: 0.5em;
}
.calc-screen-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.calc-brand{
  font-size: 0.5rem;
  color: var(--color-white);
  padding: 0 0 0.5rem;
}
.calc-screen{
  text-align:right;
  font-size: 50px;
  color: var(--secondary-dark);
  overflow: hidden;
  height: 80px;
  width: 100%;
  padding: 1rem;
  border-radius: 0.2em;
  background-color: var(--color-lemon);
}
.calc-buttons-container{
  margin: 0.5rem 0;
  display: flex;
  flex-wrap: wrap;

}
#delete-btn{
  background-color:  var(--color-red);
}
.clear-btn-container{
  width: 100%;
}
button{
  width: 25%;
  height: 25%;
  font-size: 25px;
  color: var(--color-white);
  border: 0.5px solid var(--primary-dark);
  padding: 1rem 0;
}
#equal-btn{
  width: 50%;
  background-color: var(--color-green);

}
button:hover{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

#clear-btn{
  background-color:var(--color-yellow);
}
#operator{
  background-color: var(--primary-dark);
}
/* .dummy-power-btn{
  background-color: var(--color-red);
} */

.btn, .btn-inprogress{
  background-color: var(--secondary-dark);
}
.copy{
  color: var(--color-white);
  margin: 3rem 0 0;
}
a{
  color:var(--color-white);
}